.grid-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
}

.grid-line {
  position: absolute;
  background-color: #7c5d3a;
  pointer-events: none;
}

.grid-line.horizontal {
  left: 20px;
  width: calc(100% - 40px);
  height: 1px;
  opacity: 0.3;
}

.grid-line.vertical {
  top: 0;
  width: 2px;
  opacity: 0.4;
  background-color: #4e3926;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
} 